@import '../../theme/color-scheme.scss';

header {
  min-height: min-content;
  height: 10%;
  position: relative;
  overflow: hidden;
  background: $background-primary;
  background: $background-gradient;
  background-size: cover;
    border-bottom: 1px solid #eee;
    
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
}

header h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
}

